.Landing{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Landing h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.Landing p{
    margin: 3rem 0;
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
}
.txt{
    width: 50%;
}
.btn{
    font-size: 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
    background: none;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--text-color);
    padding: 10px;
    transition: 0.4s;
}
.btn:hover{
    background-color: var(--text-color);
}
.btn:hover, .btn:hover > .material-symbols-rounded{
    color: white;
    font-weight: 300;
}
.material-symbols-rounded{
    transition: 0.4s ;
    font-weight: 600 ;
}
.image{
    height: 23rem;
    width: 23rem;
    background-image: url('/Images/Profile.jpeg');
    background-position: center;
    background-size:cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}
.about-me{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.about-me p{
    font-size: 2rem;
    padding: 0px 10vw;
    text-align: justify;
    font-weight: 600;
    line-height: 1.4;
}
.social{
    display: flex;
    position: absolute;
    top: 2rem;
    right: 0;
}
.email{
    position: absolute;
    list-style: none;
    bottom: 3rem;
    left: 0;
    font-size: 1.5rem;
}
.social img{
    height: 10vh;
}

.projects h1{
    font-size: 3rem;
    padding: 5vh 0vh;
}
#crd-grp{
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}
.card{
    background-color: var(--text-color);
    text-align: justify;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.card button{
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    gap: .5rem;
    cursor: pointer;
}
.card a{
    text-decoration: none;
}
.card span{
    color: white;
    font-weight: 300 !important;
    font-size: 20px;
}
.desc{
    line-height: 1.4;
    font-size: 15px;
    font-weight: 300;
}
.github-link{
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.card >*{
    color: white;
    padding: 10px 12px;
}
footer{
    background-color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    padding: 30px;
    justify-content: space-between;
    margin-top: 1rem;
}
.more{
    font-size: 2rem;
    color:white;
    font-weight: 300;
    height: 100%;
    display: flex;
}
.footer-col{
    color: white;
    font-size: 1.1rem;
    letter-spacing: 1px;
    width: fit-content;
    margin-bottom: 20px;
}
.footer-col::after{
    content: '';
    display: block;
    height: 150%;
    width: 70%;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
}
.skills p, .web-apps a{
    letter-spacing: 1px;
    line-height: 2;
    font-size: 0.8rem;
    color: white;
}
.web-apps a{
    color: white;
    display: block;
    text-decoration: none;
    transition: 0.2s ease;
}
.web-apps a:hover{
    padding-left: 20px;
}
.follow-me ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 20px;
}
.follow-me li{
    background-color: white;
    position: relative;
    height: 35px;
    width: 35px;
    z-index: 1;
    list-style: none;
    border-radius: 50%;
}
.follow-me a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.follow-me li, .follow-me li >*{
    transition: 0.2s ease;
    cursor: pointer;
}
.follow-me li:hover{
    background-color: var(--primary-color);
}
.follow-me li:hover > a  > i{
    color: white;
}
@media (max-width:950px) {
    .Landing p{
        font-size: 20px;
    }
    .Landing h1{
        font-size: 2rem;
    }
    .image{
        width: 10rem;
        height: 10rem;
    }
    .Landing{
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding-top: 2rem;
        width: 100vw;
        gap: 2rem;
    }
    .txt{
        width: 80%;
    }
    .Landing h1{
        text-align: center;
    }
    .about-me p{
        font-size: 1.5rem;
        line-height: 1.8;
    }
    .about-me img{
        height: 7.5vh;
    }
    .email{
        font-size: 1rem;
    }
    .projects h1{
        font-size: 2rem;
    }
    #crd-grp{
        min-height: 150vh;
        grid-template-columns: 1fr;
    }
    .card{
        height: 35vh;
    }
    footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    
}

@media (max-width:360px) {
    .about-me p{
        font-size: 1.3rem;
        padding: 0;
    }
    .card >*{
        font-size: smaller;
    }
    footer{
        align-items: center;
    }
    .web-apps{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
