.Landing{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Landing h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.Landing p{
    margin: 3rem 0;
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
}
.txt{
    width: 50%;
}
.btn{
    font-size: 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
    background: none;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--text-color);
    padding: 10px;
    transition: 0.4s;
}
.btn:hover{
    background-color: var(--text-color);
}
.btn:hover, .btn:hover > .material-symbols-rounded{
    color: white;
    font-weight: 300;
}
.material-symbols-rounded{
    transition: 0.4s ;
    font-weight: 600 ;
}
.image{
    height: 25rem;
    width: 25rem;
    background-image: url('/Images/Profile.jpeg');
    background-position: center;
    background-size:cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}
.about-me{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.about-me p{
    font-size: 2rem;
    padding: 0px 10vw;
    text-align: justify;
    font-weight: 600;
    line-height: 1.4;
}
.social{
    display: flex;
    position: absolute;
    top: 2rem;
    right: 0;
}
.email{
    position: absolute;
    list-style: none;
    bottom: 3rem;
    left: 0;
    font-size: 1.5rem;
}
.social img{
    height: 10vh;
}


@media (max-width:950px) {
    .Landing p{
        font-size: 20px;
    }
    .Landing h1{
        font-size: 2rem;
    }
    .image{
        width: 10rem;
        height: 10rem;
    }
    .Landing{
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding-top: 2rem;
        width: 100vw;
        gap: 2rem;
    }
    .txt{
        width: 80%;
    }
    .Landing h1{
        text-align: center;
    }
    .about-me p{
        font-size: 1.5rem;
        line-height: 1.8;
    }
    .about-me img{
        height: 7.5vh;
    }
    .email{
        font-size: 1rem;
    }
}