@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
.skills{
    height: 100vh;
    background-color: #30323D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.skill-header, .skill-set li{
    font-family: 'Space Mono', monospace;
}
.skill-header{
    font-size: 5rem;
    color: #E8C547;
    text-align: center;
}
.skill-gallery{
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
}
.skill-set{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 30%;
    border: 2px solid #4D5061;
    border-radius: 11px;
    position: relative;
}
.skill-set ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}
.skill-set li{
    color: white;
}
.skills img{
    height: 100px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
}